<!-- Footer -->
<footer>
    <div class="container"> <!-- <% if (is_post()) { %> style="background-color:rgba(255,255,255,0.7);border-radius:20px" <% } %> -->
        <div class="row">
            <!-- 粒子背景效果 -->
            <% if (config.open_bg_particle){ %>
            <%- js('js/particles.min') %>
            <div id="particles"></div>
            <%- js('js/particles') %>
            <% } %>
            <!-- 粒子背景效果 -->

                <!-- xq-footer-mobile 移动端底部宽度限制 -->
            <div class="xq-footer-mobile col-lg-2 col-sm-4 col-sm-offset-4 col-lg-offset-5 col-md-4 col-md-offset-4 text-center">

                <ul class="list-inline text-center">

                <!-- ######### xq sns -->
                <% if (config.github_username) { %>
                    <li class="xq-sns-li">
                        <a class="xq-sns-a" target="_blank" href="https://github.com/<%= config.github_username %>" >
                            <image class="xq-sns-img" src="/images/static/github.png"></image>
                        </a>
                    </li>
                <% } %>
                <% if (config.jianshu_username) { %>
                    <li class="xq-sns-li">
                        <a class="xq-sns-a" target="_blank" href="http://www.jianshu.com/u/<%= config.jianshu_username %>" >
                            <image class="xq-sns-img" src="/images/static/jianshu.png"></image>
                        </a>
                    </li>
                <% } %>
                <% if (config.sf_username) { %>
                    <li class="xq-sns-li">
                        <a class="xq-sns-a" target="_blank" href="https://segmentfault.com/u/<%= config.sf_username %>" >
                            <image class="xq-sns-img" src="/images/static/sf.png"></image>
                        </a>
                    </li>
                <% } %>
                <!-- ######## xq sns -->

                <% if (config.RSS) { %>
                    <li>
                        <a href="<%= config.root + 'feed.xml' %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>
                <% if (config.twitter_username) { %>
                    <li>
                        <a target="_blank" href="https://twitter.com/<%= config.twitter_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>
                <% if (config.zhihu_username) { %>
                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/<%= config.zhihu_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.weibo_username) { %>
                    <li>
                        <a target="_blank" href="http://weibo.com/<%= config.weibo_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.facebook_username) { %>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/<%= config.facebook_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.linkedin_username) { %>
                    <li>
                        <a target="_blank"  href="https://www.linkedin.com/in/<%= config.linkedin_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                </ul>
                <p class="copyright text-muted">
                    Copyright &copy; <%= config.title %>
                    <br>
                    <span id="busuanzi_container_site_pv" style="font-size: 12px;">PV: <span id="busuanzi_value_site_pv"></span> Times</span>
                    <br>
                    <!-- Theme by <a href="https://haojen.github.io/">Haojen Ma</a> -->
                    Thanks For Reading
                    <br>
                    <% if(is_home()){ %>
                    <a href="http://www.miitbeian.gov.cn" target="_blank" style="word-break:break-all">ICP：蜀ICP备17034441</a>
                    <% } %>
                </p>

            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<%- js('js/jquery.min.js') %>

<!-- Bootstrap Core JavaScript -->
<%- js('js/bootstrap.min.js') %>

<!-- Custom Theme JavaScript -->
<%- js('js/blog.js') %>

<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>

<!-- jquery.tagcloud.js -->
<script>
    // only load tagcloud.js in tag.html
    if($('#tag_cloud').length !== 0){
        async("<%= config.url%><%= config.root%>js/jquery.tagcloud.js",function(){
            $.fn.tagcloud.defaults = {
                //size: {start: 1, end: 1, unit: 'em'},
                color: {start: '#bbbbee', end: '#0085a1'},
            };
            $('#tag_cloud a').tagcloud();
        })
    }
</script>

<!--fastClick.js -->
<script>
    async("//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js", function(){
        var $nav = document.querySelector("nav");
        if($nav) FastClick.attach($nav);
    })
</script>

<!-- Google Analytics -->

<% if (config.ga_track_id) { %>
<script>
    // dynamic User by Hux
    var _gaId = '<%= config.ga_track_id %>';
    var _gaDomain = '<%- config.ga_domain || "auto" %>';
    // Originial
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', _gaId, _gaDomain);
    ga('send', 'pageview');
</script>
<% } %>

<!-- Baidu Tongji -->
<% if (config.ba_track_id) { %>
<script>
    var _baId = '<%= config.ba_track_id %>';
    // Originial
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?" + _baId;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<% } %>

<!-- swiftype -->
<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  _st('install','<%= config.swiftype_key%>','2.0.0');
</script>

<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
