    <!-- 
    /////////////////////////////////////////////////////////////////
    //                            _oOo_                            //
    //                           o88888o                           //
    //                          88" . "88                          //
    //                         (|  ^_^  |)                          //
    //                         O \  =  / O                          //
    //                       ____/`---'\____                       //
    //                     .'  \\|     |//  `.                     //
    //                    /  \\|||  :  |||//  \                    //
    //                   /  _||||| -:- |||||-  \                   //
    //                   |   | \\\  -  /// |   |                   //
    //                   | \_|  ''\---/''  |   |                   //
    //                   \  .-\__  `-`  ___/-. /                   //
    //                 ___`. .'  /--.--\  `. . ___                 //
    //               ."" '< `.___\_<|>_/___.'  >'"".               //
    //             | | :  `- \`.;`\ _ /`;.`/ - ` : | |             //
    //             \  \ `-.   \_ __\ /__ _/   .-` /  /             //
    //       =======`-.____`-.___\_____/___.-`____.-'=======       //
    //                           `=---='                           //
    //      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^      //
    //                    佛祖保佑        永无BUG                   //
    //                    阿弥陀佛         佑我XY                   //
    /////////////////////////////////////////////////////////////////
     -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= page.description || config.description %>">
    <meta name="keywords" content="<%= page.keywords || config.keywords %>">
    <meta name="theme-color" content="#600090">
    <meta name="msapplication-navbutton-color" content="#600090">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#600090">
    <link rel="shortcut icon" href="<%- config.favicon || 'https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-person-128.png' %>">
    <link rel="alternate" type="application/atom+xml" title="<%= config.title %>" href="/atom.xml">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css">
    <title>
        <% if (page.title) { %>
        <%= page.title + '｜' + config.SEOTitle %>
        <% } else{ %>
        <%= config.SEOTitle %>
        <% } %>
    </title>

    <link rel="canonical" href="<%= config.url + config.root + (page.path || '').replace('index.html', '') %>">

    <!-- Bootstrap Core CSS -->
    <%- css('css/bootstrap.min.css') %>

    <!-- Custom CSS -->
    <%- css('css/blog-style.css') %>

    <!-- Pygments Github CSS -->
    <%- css('css/syntax') %>

    <!-- mycss -->
    <%- css('css/mycss.css') %>
</head>
