---
layout: layout
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('<%= page["header-img"] || config["header-img"] %>')">
    <div class="container" style="vertical-align:baseline">
        <div class="row">
            <div class="col-lg-8 col-md-10">
                <div class="site-heading">
                    <h1 style="color:#aaaaaa;">吾曰：页面已飞往太空 😱</h1>
                    <!-- <span class="subheading"><%= page.description || config.subtitle || "" %></span> -->
                </div>
            </div>
        </div>
    </div>
</header>
<article></article>
<script>
    document.body.classList.add('page-fullscreen');
</script>
