---
layout: layout
---

<!--only post-->
<% if (page['wechat-share']) { %>

<img class="wechat-title-img"
     src="<%- config['cdn-url'] %> <%= page['wechat-share'] || page['header-img'] %> <%- config['cdn-url'] ? config['clip-content'] : '' %>">
<% } else{ %>
<% if (page["cdn"] === 'header-off'){ %>
<img class="wechat-title-img" src="<%= page["header-img"] || config["post-default-img"] %>">
<% } else { %>
<img class="wechat-title-img"
     src="<%- page['header-img'] ? config['cdn-url'] + page["header-img"] : config["post-default-img"] %>">
<% } %>
<% } %>
<% if (page["header-img"]){%>
    <style>
    header.intro-header {
        background-image: url('<%= page["header-img"] || config["post-default-img"]%>');
    }
    </style>
    <% } %>

<header class="intro-header">
    <div class="container">

            <!-- 粒子博文专用 -->
            <% if(page['particle']) { %>
            <script src="/js/particles.min.js"></script>    
            <div id="particle_blog"></div>
            <script src="/js/particle_blog.js"></script>    
            <style>
                #particle_blog {
                    position:absolute;
                    top:0;left:0;right:0;bottom:0;
                    /* z-index:2 */
                }
                header .container{
                    position: relative;
                }
            </style>
            <% } %> <!-- 粒子博文专用 -->

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
                <div class="post-heading">
                    <h1><%= page.title %></h1>
                    <% if(page.subtitle) { %>
                    <h2 class="subheading"><%= page.subtitle %></h2>
                    <% } %>
                    <span class="meta">
                         作者 <%- page.author || config.author %>
                        <span>
                          日期 <%= page.date.format(config.date_format) %>
                         </span>
                    </span>
                    <div class="tags text-center">
                        <% page.tags.forEach(function(tag){ %>
                        <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>"
                           title="<%= tag.name %>"><%= tag.name %></a>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-title-haojen">
        <span>
            <%- page.title %>
        </span>
    </div>
</header>

<!-- Post Content -->
<article class="container xqpostback">
    <div>
        <div class="row">
            <!-- Post Container -->
            <div class="col-lg-8 col-lg-offset-1 col-sm-9 post-container">
                <%- page.content %>

                <hr>
                <br />
                <p style="color:#DB4646;background:rgba(0,0,0,0.1);padding:10px 15px;font-size:0.8em">
                    <strong>
                        原创文章，如需转载，希望注明出处：<br />
                        转自 <%= config.SEOTitle %>：<%= page.title %> — <%= config.url + config.root + page.path %>
                    </strong>
                </p>
                <% if(config['duoshuo_share'] && config['duoshuo_username']) { %>
                <!-- 多说 Share start -->
                <div class="ds-share"
                     style="text-align: right"
                     data-thread-key="<%= page.path %>"
                     data-title="<%= page.title %>"
                     data-url="<%= page.permalink %>"
                     data-images="<%= page["header-img"] ? page.permalink + page["header-img"] : '' %>"
                     data-content="<%- truncate(strip_html(page.content), {
                         length: 50,
                         omission: '...'
                     }) %> | <%= config.SEOTitle %> ">
                    <div class="ds-share-inline">
                        <ul class="ds-share-icons-16">
                            <li data-toggle="ds-share-icons-more"><a class="ds-more" href="#">分享到：</a></li>
                            <li><a class="ds-wechat flat" href="javascript:void(0);" data-service="wechat">微信</a></li>
                            <li><a class="ds-weibo flat" href="javascript:void(0);" data-service="weibo">微博</a></li>
                            <li><a class="ds-douban flat" href="javascript:void(0);" data-service="douban">豆瓣</a></li>
                        </ul>
                        <div class="ds-share-icons-more">
                        </div>
                    </div>
                    <hr>
                </div>
                <!-- 多说 Share end-->
                <% } %>

                <ul class="pager">                    
                    <% if (page.next){ %> <!-- 其实是前一篇 -->
                    <li class="previous">
                        <a href="<%- config.root %><%- page.next.path %>" data-toggle="tooltip" data-placement="top"
                           title="<%= page.next.title %>">&larr; Previous Post</a>
                    </li>
                    <% } %>
                    <% if (page.prev){ %>
                    <li class="next">
                        <a href="<%- config.root %><%- page.prev.path %>" data-toggle="tooltip" data-placement="top"
                            title="<%= page.prev.title %>">Next Post &rarr;</a>
                    </li>
                    <% } %>
                </ul>

                <!--PC和WAP自适应版--><!-- 畅言评论 -->
                <div id="SOHUCS" sid="<%= page.sid %>" ></div> 
                <script type="text/javascript"> 
                (function(){ 
                var appid = 'cytdtTi7J'; 
                var conf = 'prod_9fc3b119a1c297ac170810e7650696bc'; 
                var width = window.innerWidth || document.documentElement.clientWidth; 
                if (width < 960) { 
                window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
                <!-- 畅言评论 -->

                <% if(config['duoshuo_username']) { %>
                <!-- 多说评论框 start -->
                <div class="comment">
                    <div class="ds-thread"
                         data-thread-key="<%= page.path %>"
                         data-title="<%= page.title %>"
                         data-url="<%= page.permalink %>">
                    </div>
                </div>
                <!-- 多说评论框 end -->
                <% } %>

                <% if(config['disqus_username']) { %>
                <!-- disqus 评论框 start -->
                <div class="comment">
                    <div id="disqus_thread" class="disqus-thread"></div>
                </div>
                <!-- disqus 评论框 end -->
                <% } %>


                <!--加入新的评论系统-->
                <% if(config['use_livere']) {%>
                <!-- 来必力City版安装代码 -->
                <div id="lv-container" data-id="city" data-uid="<%= config['livere_uid'] %>">
                    <script type="text/javascript">
                        (function(d, s) {
                            var j, e = d.getElementsByTagName(s)[0];

                            if (typeof LivereTower === 'function') { return; }

                            j = d.createElement(s);
                            j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                            j.async = true;

                            e.parentNode.insertBefore(j, e);
                        })(document, 'script');
                    </script>
                    <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
                </div>
                <!-- City版安装代码已完成 -->
                <%}%>
            </div>

            <div class="hidden-xs col-sm-3 toc-col">
                <div class="toc-wrap">
                    <%- toc(page.content, {list_number: false}) %>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Sidebar Container -->

            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                <% if(config['featured-tags']) { %>
                <section>
                    <!-- no hr -->
                    <h5 class="text-center">
                        <a href="<%= config.root %>tags/">TAGS</a>
                    </h5>
                    <div class="tags">
                        <% page.tags.forEach(function(tag){ %>
                        <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>"
                           title="<%= tag.name %>"><%= tag.name %></a>
                        <% }) %>
                    </div>
                </section>
                <% } %>

                <!-- Friends Blog -->
                <% if(config.friends) { %>
                <div style="margin-top: 20px;">
                    <h5 class="text-center">FRIENDS</h5>
                    <ul class="list-inline text-center">
                        <% config.friends.forEach(function(friend){ %>
                        <li><a href="<%= friend.href %>"><%= friend.title %></a></li>
                        <% }); %>
                    </ul>
                </div>
                <% } %>
            </div>
        </div>

    </div>
</article>

<% if(config['duoshuo_username']) { %>
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User by Hux
    var _user = '<%= config['duoshuo_username'] %>';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user};
    (function () {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
<% } %>
<% if(config['disqus_username']) { %>
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "<%= config['disqus_username'] %>";
    var disqus_identifier = "<%= page.permalink %>";
    var disqus_url = "<%= page.permalink %>";

    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
<% } %>
<% if(config['anchorjs']) { %>
<!-- async load function -->
<script>
    function async(u, c) {
        var d = document, t = 'script',
                o = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
        o.src = u;
        if (c) {
            o.addEventListener('load', function (e) {
                c(null, e);
            }, false);
        }
        s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("http://cdn.bootcss.com/anchor-js/1.1.1/anchor.min.js", function () {
        anchors.options = {
            visible: 'always',
            placement: 'right',
            icon: '#'
        };
        anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
    })
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link {
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top: -0.1em;
        }
    }
</style>
<% } %>


