---
layout: layout
---
<style>
    .intro-header .site-heading {
        margin: 50px;
    }
    /* xqqqqqqqq */
    .one-tag-list span{
        padding-top:60px;
        margin-top:-60px;
    }
    /* xqqqqqqqq */
    <% if (page["cdn"] === 'header-off'){%>
    header.intro-header {
        background-image: url('<%= page["header-img"] || config["post-default-img"]%>');
    }

    <%} else {%>
    header.intro-header {
        background-image: url('<%- page["header-img"]?config["cdn-url"]+page["header-img"]+config["clip-content"] : config["post-default-img"]%>')
    }
    <% } %>
</style>

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading text-center">
                    <h1><%= page.title || config.title %></h1>
                    <span class="subheading"><%= page.subtitle || config.subtitle || "" %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container xqback">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 标签云 -->
            <div id='tag_cloud' class="tags">
                <% site.tags.map(function(tag){ %>
                <a href="#<%= tag.name %>" title="<%= tag.name %>" rel="<%= tag.length %>"><%= tag.name %></a>
                <% }) %>
            </div>

            <!-- 标签列表 -->
            <% site.tags.map(function(tag){ %>
            <div class="one-tag-list">
                <span class="fa fa-tag listing-seperator" id="<%= tag.name %>">
                    <span class="tag-text"><%= tag.name %></span>
                </span>
                <% tag.posts.map(function(post){ %>
                <div class="post-preview">
                    <a href="<%- config.root %><%- post.path %>">
                        <h2 class="post-title">
                            <%- post.title || "Untitled" %>
                        </h2>
                        <% if (post.subtitle && post.subtitle.length) { %>
                        <h3 class="post-subtitle">
                            <%- post.subtitle %>
                        </h3>
                        <% } %>
                    </a>
                </div>
                <hr>
                <% }) %>
            </div>
            <% }) %>

        </div>
    </div>
</div>
